name: Build WinWheels

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Specify different operating systems for matrix testing
        os: [windows-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2  # Checkout the repository code

      - name: Set up Python
        uses: actions/setup-python@v2  # Set up Python environment

      - name: Install Rust toolchain (Windows)
        if: runner.os == 'Windows'
        run: |
          choco install rust -y
          # Import Chocolatey profile to refresh environment variables
          Import-Module $env:ChocolateyInstall\helpers\chocolateyProfile.psm1

      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          # python -m pip install -r requirements.txt  # Install project dependencies if necessary

      - name: Build wheels
        run: |
          cd ./python/pathway  # Navigate to your package directory
          python -m pip wheel . --wheel-dir ../wheelhouse --no-deps

      - name: Upload wheels
        uses: actions/upload-artifact@v2
        with:
          name: wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl
