name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4  # Checkout the repository code

      - name: Set up Python
        uses: actions/setup-python@v2  # Set up Python environment

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.19.1
        with:
          package-dir: ./python/pathway  # Specify the package directory to build
          output-dir: wheelhouse  # Specify the output directory for wheels
          config-file: "{package}/pyproject.toml"  # Specify the location of pyproject.toml

      - name: Upload wheels
        uses: actions/upload-artifact@v2  # Upload built wheels as artifacts
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
